*.exe
*.EXE

## FILE.PNG is a test file that is saved after you pick a color
## on startup. Do not commit this file in repo.
FILE.PNG 


## If not exists, will be generated when program is ran. 
## It is up to you to fill this out with suitable values
## if the default does not work.
OPEN_GL_SEARCH_PATHS.TXT